body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#statsInfoMessage {
    margin-top: 25px;
}

.alert{
    margin-bottom: 10px;
}

.no-margin-alert {
    margin-bottom: 0;
}